<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="user-container">

        <img src="/images/MySpotitiLogo.png" alt="">
        <h2>Login</h2>
        <h3>Hi, Good to see you again.</h3>
            <button id="adminBtn">Admin</button> 
            <button id="leaderBtn">Leader</button>
        <br><br>
        <a href="login">Is User?</a>
    </div>
    <script type="text/javascript">
        document.getElementById("adminBtn").onclick = function () {
            location.href = "loginAdmin";
        };

        document.getElementById("leaderBtn").onclick = function () {
            location.href = "loginLeader";
        };
    </script>
</body>
</html>

