<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="login-container">
        <img src="/Assets/MySpotitiLogo.png" alt="">
        <h2>Login</h2>
        <h3>Hi, Good to see you again.</h3>
        <form method ="post" action="/login">
            <input type="text" name="username" id="password"><br>
            <input type="password" name="password" id="password"><br>
            <button>Login</button>
        </form>
        <p>or you are new here? <a href="signup">Register Now!</a></p>
        <br><br>
        <a href="loginNotUser">Not User?</a>
    </div>
</body>
</html>