<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>`
<body>
    <div class="login-container">
        <img src="/images/MySpotitiLogo.png" alt="">
        <h2>Login</h2>
        <h3>Hi, Good to see you again.</h3>
        <form class="form-container "id ="loginForm" method ="post" action="/login">
            <input type="text" name="username" class="userBox" placeholder="Username"><br>
            <input type="password" name="password" class="userBox" placeholder="Password"><br>
            <button class="button">Login</button>
        </form>
        <a>or you are new here? <a class="hoveredText" href="signup">Register Now!</a>
    </div>
</body>
</html>