<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>mainAdmin</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
</head>

<body>
    <div id="whole-page-Admin">
        <div class="sidebarAdmin">
          <img src="/assets/images/MySpotitiLogoWithext.png" id="sidebar-logo" alt="" />
          <div id="sidebar-text-Admin">
            <div class="sidebar-text-Admin" id="sidebar-overview">Overview</div>
            <div class="sidebar-text-Admin" id="sidebar-songs">Songs</div>
            <div class="sidebar-text-Admin" id="sidebar-subgenre">Sub Genre</div>
            <div class="sidebar-text-Admin" id="sidebar-genre">Genre</div>
          </div>
        </div>
    </div>
</body>