<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="user-container">

        <img src="/images/MySpotitiLogo.png" alt="">
        <h2>Sign up</h2>
        <h3>Can we get to know each other?</h3>
        <form id ="signupForm" method ="post" action="/signup">
            <input type="text" name="username" id="userBox"placeholder="Username"><br>
            <input type="password" name="password" id="userBox"placeholder="Password"><br>
            <!-- reconfirm pass -->
            <input type="password" name="password" id="userBox" placeholder="Reconfirm Password"><br> 

            <button id="userButton">Login</button>
        </form>
        <a href="login">Already have account?</a>
    </div>
</body>
</html>