<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>MySpotiti</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="stylesheet" href="styleMain.css" />
  <script src="scriptAdmin.js" defer></script>
</head>

<body>
  <div id="whole-page-notuser">
    <div class="sidebar-notuser">
      <img src="/assets/images/MySpotitiLogoWithext.png" id="sidebar-logo" alt="" />
      <div id="sidebar-text">
        
        <div class="sidebar-text" id="Admin-sidebar-overview">Overview</div>        
        <div class="sidebar-text" id="Admin-sidebar-songs"style="color: #F5833F; font-weight: bold;transform: scale(1.1)">Songs</div>
        <div class="sidebar-text" id="Admin-sidebar-subgenre">Sub Genre</div>
        <div class="sidebar-text" id="sidebar-genre"     >Genre</div>
      </div>
    </div>
    <div class="header-notuser">
      
      
      <button id="profile-btn" class="round-button-notuser">
        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512">
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
      </button>
    </div>
    <div class="admintable">
      <div class="admintable-header">
        <h1 class="admintable-header-headline" >Songs Overview</h1>
        <button class="button" id="addDataButton"> Add data</button>
        <input class="admin-searchbar"type="text" placeholder="Search" />
        <div class="filter">
          Filter by:
          <select>
            <option value="genre">Genre</option>
            <option value="subgenre">Sub Genre</option>
          </select>
          is a 
          <input type="text"placeholder="type here"></input>
          

        </div>

      </div>
      <div class="admintable-result"></div>
      

    </div>
    </div>


  </div>


  <!--buat logout-->
  <div id="logOutPopup" class="hidden">
    <div id="photo-profile-container">
      <% if(image) { %>
        <img id="photo-profile" src="data:image/jpeg;base64,<%= image.toString('base64') %>" />
        <% } %>
    </div>

   
    <h1>Hi there, <%= name %> </h1>


        <form action="/logout" method="post">
          <input id="logOutButton" class="button" type="submit" value="Log out" />
        </form>

  </div>
</body>
</html>