body{
    color:#D7176C;
    font-family: Poppins;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
#whole-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 30vh auto;
    grid-template-rows: 35vh auto 10vh;
    grid-template-areas:
        "side header"
        "side main"
        "bottom bottom"
    ;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#sidebar-text{
    font-size: 20px;
    color: #D7176C;
    margin: 20%;
}
#sidebar-logo{
    height: 80px;
    width: 200px;
}

.sidebar {
    /* image-resolution: 20px; */
    grid-area: side;
    background-color: #fff;
    width: 100%;
}
#searchInput{
    color: #333;
    border-color: #fff;

    border-radius: 30px;
    border-style: solidcolor;
    height: 30px;
    width: 400px;
    margin: 2%;
}

.header {
    background-image: url(/public/images/);
    grid-area: header;
    display : flex;
}
#profile-btn{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border-style: none;
    color: #fff;
    background-color: #D7176C;
    margin-top: 2%;
    margin-left: 50% 
}

.main-content {
    grid-area: main;
    background-color: #f2d3b3;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f2b3b3;
    grid-area: bottom;
    align-items: center;
}

.song-info {
    order: 1;
}

.playback-controls {
    order: 2;
}

.slider-bar {
    order: 3;
    width: 50%;
    height: 5px;
    background: #ccc;
    overflow: hidden;
    border-radius: 3%;
}

#premium-button {
    order: 4;
}

.slider-bar-progress {
    width: 50%;
    /* contoh panjang sliding bar saat musik dimainkan */
    height: 100%;
    background: #333;
}

#premiumPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
#form-text{
    color: #333;
}
#premiumForm{
   
    padding: 5%;

}

#premium-banner{
    height: 670px;
    width: 400px;

}

.hidden{
    display: none;
}

#logOutPopup {
    /* display: block; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height:500px;
    padding: 2%;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
#logOutButton{
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.button{

    height: 40px;
    width: 100px;
/* align-items: center; */
    background-color: #D7176C;
    border-radius: 10px;
    color: #fff;
    border-style: none;
    font-size: 15px;
    
}
.button:hover {
    background-color:#d377a0;
    color: #fff;
  }
