@font-face {
    font-family: Poppins;
    src: url(/assets/Poppins/Poppins-Black.ttf);
}

* {
    font-family: 'Poppins';
    font-size: 22px;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #FFF8E4;
}


h2 {
    color: #D7176C;
}
img{
    width: 100px;
    height: 100px;
}
#login-container {
    background-color: #FFFCF9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    padding: 5%;
    height: auto;
    width: auto;
    border-radius: 3%;
    box-shadow: 5px 5px #888888;
    text-align: center;
}
