/* global */
body {
    color: #D7176C;
    font-family: Poppins;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.headline{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;

}
.hasilQuery{
    margin: 20px;
    font-size: 35px;
    color: #F5833F;  
}
.subheadline{
    margin: 20px;
    font-size: 15px;
    color: #F5833F;
}

svg {
    fill: #fff;
}

.round-button {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border-style: none;
    background-color: #D7176C;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.round-button:hover {
    transform: scale(1.1);
}

#whole-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 30vh auto;
    grid-template-rows: 35vh auto 10vh;
    grid-template-areas:
        "side header"
        "side main"
        "bottom bottom"
    ;
}
#whole-page2 {
    height: 100vh;
    display: grid;
    grid-template-columns: 30vh auto;
    grid-template-rows: 13vh auto 10vh;
    grid-template-areas:
        "side header"
        "side main"
        "bottom bottom"
    ;
}

.button:hover {
    background-color: #d377a0;
}

.hidden {
    display: none;
}

/* sidebar */
.sidebar {
    grid-area: side;
    background-color: #fff;
    width: 100%;
    position: relative;
}

#sidebar-text {
    font-size: 20px;
    color: #D7176C;
    margin: 20%;
}

.sidebar-text:hover {
    color: #F5833F;
    font-weight: bolder;
    transform: scale(1.1);
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);    
}
.sidebar-subtext{
    font-size: 15px;
    color: #333;
    margin-left: 15%;
}

.sidebar-subtext:hover {
    color: #333;
    font-weight: bolder;
    transform: scale(1.1);
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);    
}

#sidebar-logo {
    height: 100px;
    width: 250px;
}

.sidebar-music {
    background-color: #e4e3e3;
    width: 30vh;
    height: 30vh;
    padding-left: 0%;
    position: absolute;
    bottom: 0;

}


/* header */
.header {
    /* background-image: url('/images/header-banner.png'); */
    background-image: url('/assets/images/header-banner.png');
    background-size: cover;
    background-position: center;
    animation: changeBackground 15s infinite;
}

@keyframes changeBackground {
    0% {
        background-image: url('assets/images/header-banner.png');
        /* background-image: url('/images/header-banner.png'); */
    }

    50% {
        /* background-color: rebeccapurple; */
        background-image: url('assets/images/header-banner2.png');

    }

    100% {
        background-image: url('assets/images/header-banner3.png');

    }
}
/* header small */
.header-small {
    background-color: #F5833F;
}
#searchButton {
    color: #fff;
    border-color: #fff;
    border-style: solid;
    background-color: transparent;
    border-radius: 30px;
    text-align: left;
    border-style: solidcolor;
    height: 40px;
    width: 400px;
    margin: 2%;
}

#searchInput {
    color: #333;
    border-color: #fff;

    border-radius: 30px;
    border-style: solidcolor;
    height: 30px;
    width: 400px;
    margin: 2%;
}

#profile-btn {
    margin-top: 2%;
    float: right;
    margin-right: 2%;
}



.main-content {
    grid-area: main;
    background-color: #FFF8E4;
    overflow-x: auto;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFE6D8;
    grid-area: bottom;
    align-items: center;
}

/* slider bar */
.song-info {
    width: 200px; /* Set a specific width for the element */
    overflow: hidden; /* Clip the text when it's too long */
    white-space: nowrap; /* Prevent line breaks */
    text-overflow: ellipsis; /* Display an ellipsis (...) for clipped text */
    order: 1;
}

.playback-controls {
    order: 2;
}

.slider-bar {
    order: 3;
    width: 50%;
    height: 7px;
    background: #B4ACAF;
    overflow: hidden;
    border-radius: 15px;

}

#sidebar-cover {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  

.slider-bar-progress {
    width: 50%;
    /* contoh panjang sliding bar saat musik dimainkan */
    height: 100%;
    background: #D7176C;
}

/* premium */
#premium-button {
    order: 4;
    border-radius: 50px;
}

#premiumPopup {
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#premiumForm {
 
    padding: 5%;
}

#premiumHeader > h1{
    font-weight: bold;
}
#premiumHeader > h2{
    font-size: 19px;
    color: #F5833F;
}
#premiumHeader > h3{
    font-size: 13px;
}
#premiumtheForm {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "label input";
  }
.form-box{
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
  

  
 
  
  #cancelButton {
    margin-left: auto;
    
  }
  #premium-banner {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    
  }

/* log out */
#logOutPopup {
  flex-direction: column;
  align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 300px;
    padding: 5%;
    padding-top: 7%;
    align-items: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#logOutPopup h1 {
    color: #F5833F;
    font-size: 18px;
    overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10%;
  white-space: nowrap;
}

#photo-profile-container {
    background-image: src('/Assets/images/defaultProfilePicture.png');
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}

#photo-profile {
    width: 100%;
    /* Fill the container width */
    height: 100%;
    /* Fill the container height */
    object-fit: cover;
    /* Maintain aspect ratio and fill the container */
}

#logOutButton {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#searchPopup {
    /* display: block; */
    grid-template-areas: "search close"
        "songs songs";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 300px;
    padding: 3%;
    
    align-items: center;
    
    background-color    : #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    gap: 3px;
}

#searchInput {
    
    position: fixed;
    grid-area: search;
}

#searchCloseButton {
    
    justify-self: end;
    grid-area: close;
}

#searchResults {
    
    display: inline-flex; /* Display the list items in a single line */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margin */
}
#searchResults-container {
    grid-area: songs;

    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
  }
/* Tampilan hasil pencarian */
.search-result {
  display: flex;
  flex-direction: column;
  margin: 7px;
  min-width: 140px;
  width: 150px;
  height: 200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 1s ease;
padding: 2%;
  /* Text trimming */
  overflow: hidden;
}

#searchResults-songTitle{
    font-size: 18px;
    font-weight: bold;
}
#searchResults-songArtist{
    color: #F5833F;
}
.search-result span {
  /* Text trimming */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.search-result:hover {
    background-color: #e0e0e0;
}

/* Tampilan pesan "No results found" */
.no-results {
    padding: 10px;
    color: #888;
    font-style: italic;
}
/* all button */
.button {

    height: 40px;
    width: 100px;
    /* align-items: center; */
    background-color: #D7176C;
    border-radius: 10px;
    color: #fff;
    border-style: none;
    font-size: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);


}




.songs {
    padding: 20px 40px;
}

.songs h2 {
    color: #D7176C;
    font-size: 22px;    
    margin-bottom: 20px;
}

.songs .list {
    display: flex;
    color: #333;
    font-size: 15px;
    margin-bottom: 25px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#songsTitle {
    color: #D7176C;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}
#songsArtis {
    color: #F5833F;
    
    margin-bottom: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.songs .list .item {
    margin: 7px;
    min-width: 140px;
    width: 200px;   
    height: 250px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 1s ease;
}

.songs .list .item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.2);
}

.discoverSongs img {
    max-width: 100%;
    max-height: 100%;
}

.discoverSubgenre img {
    max-width: 100%;
    max-height: 100%;
}
.discoverGenre img {
    max-width: 100%;
    max-height: 100%;
}
/* notuser */
/* header admin/ledaer */
#whole-page-notuser {
    background-color: #FFF8E4;
    
    height: 100vh;
    display: grid;
    grid-template-columns: 30vh auto;
    grid-template-rows: 10vh auto;
    grid-template-areas:
        "side header"
        "side main"
    ;
}

.adminBox{
    background-color: #fff;
    margin-top: 15px;
    margin-left: 15px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-style: none;
    border-radius: 15px;
}
.adminBox-scroll{
    background-color: #fff;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-style: none;
    border-radius: 15px;
    overflow: auto;
}
.admin-main-content{
    grid-area: main;
    display: grid;
    grid-template-columns: auto 60vh;
    grid-template-areas: "lefty righty";
}
#lefty{
    grid-area: lefty;
    display: grid;
    grid-template-rows: 20vh 25vh auto;
    grid-template-areas: "row1 "
    "row2" "row3";
}
#row1{
    grid-area: row1;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "col1 col2 col3";
}
#col1{
    grid-area: col1;

}

#col2{
    grid-area: col2;
}

#col3{
    grid-area: col3;
}

#row2{
    grid-area: row2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "col10 col20 ";
}
#col20{
    background-color: white;
}
#row3{
    grid-area: row3;
    margin-right: 0px;
}

#righty{
    grid-area: righty;
}


.header-notuser{
    background-color: #D7176C;
}
.round-button-notuser {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border-style: none;
    background-color: #F5833F;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.sidebar-notuser {
    grid-area: side;
    background-color: #fff;
    width: 100%;
    position: relative;
}
.pimpinan-main-content{
    display: grid;
    grid-template-columns: auto 40vh 40vh;
    grid-template-rows: 10vh auto auto;
    grid-template-areas: 
    "atas atas atas"
    "sales topsongs topgenre"
    "user topsongs topgenre";
    
}
#pimpinan-main-content-atas{
    margin-left: 15px;
    display: flex;
    grid-area: atas;
}
#pimpinan-main-content-sales{
    grid-area: sales;
}
#pimpinan-main-content-topsongs{
    grid-area: topsongs;
}
#pimpinan-main-content-topgenre{
    grid-area: topgenre;
}
#pimpinan-main-content-user{
    grid-area: user;
}
#currentDate{
    margin-right: 15px;
    font-size: 30px;
    margin-left: auto;
}


#popupSubgenre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#go-button{
    background-color: #F5833F;
    color: white;
    font-weight: bold;
    width: auto;
    height: 35px;
}
  
#subgenreResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
#subgenreResults li {
    margin-bottom: 10px;
}
  
#subgenreResults li span {
    display: block;
}
  
#subgenreResults li img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
}

.admintable{
    display: grid;
    grid-template-rows: 20vh auto;
    grid-template-areas: "header"
                         "result";
}
.admintable-header{
    grid-area: header;
    display: grid;
    margin: 20px;
    grid-template-areas:

    "admintable-header-leftTop admintable-header-rightTop"
    "admintable-header-leftBtm admintable-header-rightBtm";
}
.admintable-header-headline{
    grid-area:admintable-header-leftTop;
    color: #D7176C;
}
#addDataButton{
    grid-area:admintable-header-rightTop ;
    justify-self: end;
}
.admin-searchbar{
    grid-area: admintable-header-leftBtm ;
    background-color: transparent;
    border-radius: 50px;
    border-width: 3px;
    border-color: #D7176C;
    height: 30px;
    width: 300px;
    color: #D7176C;
}
.filter{
    display: flex;
    grid-area: admintable-header-rightBtm;
    width: 500px;
    height: 40px;
    font-weight: bold;
    background-color: #D7176C;
    justify-self: end;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    gap: 7px;

}
.filtering{
    height: 30px;
    border-style: none;
    background-color: #f2f2f2;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
}
.admintable-result{
    grid-area: result;
    background-color: #fff;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}
table {
    width: 100%;
    border-collapse: collapse;

  }
  
  table th{
    padding: 8px;
    /* border-right: 1px dotted #727272; */
    font-size: 20px;
  }
  table td {
    padding: 8px;
    border-right:1px dotted #727272;

  }
  tr:hover {
    background-color: #e6e6e6; /* Hover color */
  }
  tr:nth-child(even) {
    background-color: #faf1ec; /* Alternate row color */
  }

  .action-button{
    padding-left: 10px;
    fill: #D7176C;
  }
  
